<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.learn.spring.dao.mapper.AccountMapper">

    <resultMap type="org.learn.spring.domain.Account"  id="account">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="age" column="age" />
        <result property="sex" column="sex" />
    </resultMap>
    
    <sql id="base_Column_List" >
        id, name, age, sex
    </sql>
    
    <select id="getAccount" parameterType="java.lang.Long" resultMap="account">
        select 
        <include refid="base_Column_List" />
        from account 
        where id = #{accountId}
    </select>
        
</mapper>

